<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863474463642-40qah67uu02c4v8gp7pkuik36dqlgpj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863474463642-40qah67uu02c4v8gp7pkuik36dqlgpj9</string>
	<key>API_KEY</key>
	<string>AIzaSyBWsgmrvUvWsVoySzsktRE4NuoVsGkVRBs</string>
	<key>GCM_SENDER_ID</key>
	<string>863474463642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Maksimka.1spravochnik-spz1</string>
	<key>PROJECT_ID</key>
	<string>spravochnik-spz</string>
	<key>STORAGE_BUCKET</key>
	<string>spravochnik-spz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863474463642:ios:333dc1457b1af9bb89c023</string>
	<key>DATABASE_URL</key>
	<string>https://spravochnik-spz-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>